@*Con esto indicamos que nuestra vista espera una cadena de texto*@
@model String
<h2>Personajes:</h2>

<div>
    <ul>
        @*Al usar Model en mayúscula podemos acceder al dato que
          nos envie el modelo *@
        <li>@Model</li>
    </ul>
</div>