<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--Para poder soportar roles en nuestra aplicación-->
    <roleManager enabled="true"/>

    <!--<membership>
      <providers>
        <add name="proveedorMembresia" ty/>
      </providers>
    </membership>-->

    <membership>
      <providers>
        <add name="YOURMembershipProvider" type="System.Web.Security.SqlMembershipProvider"  minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" applicationName="YourAppName" maxInvalidPasswordAttempts="2147483647"/>
      </providers>
    </membership>
    
    <!--utilizaremos autenticación por formularios-->
    <authentication mode="Forms">
      <!--especificamos cual es nuestra página de Login (si tenemos)
        para redirigir a los usuarios no autenticados-->
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH">
      </forms>
    </authentication>
  </system.web>
</configuration>
