<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CadenaConexionEjemploMembresia" 
     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SeguridadBD;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="EjemploMembresiaProveedorSQL">
      <providers>
        <!-- Nuestro proveedor personalizado -->
        <add name="EjemploMembresiaProveedorSQL"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="CadenaConexionEjemploMembresia"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="EjemploMembresia"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="7"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
