<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CadenaConexionEjemploMembresia" 
     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SeguridadBD;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <!--
      loginUrl indica a que formulario redirigir cuando un usuario no se ha autenticado aún.
      defaultUrl es la dirección a la que se redirigirá por defecto.
      name indica el nombre de la cookie en la que se guardan las credenciales.
      -->
      <forms loginUrl="Login.aspx" defaultUrl="Inicio.aspx" name=".ASPXFORMSAUTH">
      </forms>
    </authentication>
    <authorization>
      <!--aquí damos acceso a cualquier usuario con rol administrador-->
      <allow roles="administrador"/>
	  <!--si quisieramos solo darle a acceso a un usuario con nombre "admin":-->
	  <!--<allow user="admin"/>-->
      <!--aquí denegamos el acceso a los usuarios no autenticados ("?")
      a nuestra aplicación web en general-->
      <deny users="?" />
    </authorization>
    
    <membership defaultProvider="ProveedorMembresiaSQL">
      <providers>
        <!-- Nuestro proveedor personalizado -->
        <add name="ProveedorMembresiaSQL"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="CadenaConexionEjemploMembresia"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="EjemploMembresia"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             minRequiredNonalphanumericCharacters="0"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="3"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0" />
    <roleManager enabled="true" defaultProvider="ProveedorRolesSQL">
      <providers>
        <add name="ProveedorRolesSQL" 
             type="System.Web.Security.SqlRoleProvider"
             applicationName="EjemploMembresia"
             connectionStringName="CadenaConexionEjemploMembresia" />
      </providers>
    </roleManager>

    <!--Esto es necesario para habilitar seguridad en nuestro menú
    securityTrimmingEnabled es el atributo que activa dicha funcionalidad-->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="Web.sitemap"
             securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>

  <!--También podemos dar permisos específicos a páginas. En este caso
  le permitimos a cualquiera (*) utilizar el registro de usuarios-->
  <location path="CreacionUsuario.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--También podemos dar permisos específicos a CARPETAS-->
  <location path="Mantenimiento">
    <system.web>
      <authorization>
        <!--las reglas se aplican en orden secuencial, es decir,
        primero revisa si es o administrador,
        si no aplica, pasa a la siguiente regla
        que quiere decir que deniegue el acceso a cualquiera (*)-->
        <allow roles="administrador" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Contabilidad">
      <system.web>
        <authorization>
          <allow roles="administrador, usuario" />
          <deny users="*"/>
        </authorization>
      </system.web>
  </location>
</configuration>
