<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CadenaConexionEjemploMembresia" 
     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SeguridadBD;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH">
      </forms>
    </authentication>
    <authorization>
      <allow roles="administrador"/>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="ProveedorMembresiaSQL">
      <providers>
        <!-- Nuestro proveedor personalizado -->
        <add name="ProveedorMembresiaSQL"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="CadenaConexionEjemploMembresia"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="EjemploMembresia"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             minRequiredNonalphanumericCharacters="0"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="3"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0" />
    <roleManager enabled="true" defaultProvider="ProveedorRolesSQL">
      <providers>
        <add name="ProveedorRolesSQL" 
             type="System.Web.Security.SqlRoleProvider"
             applicationName="EjemploMembresia"
             connectionStringName="CadenaConexionEjemploMembresia" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
